body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000; /* Fond noir */
    color: #fff; /* Texte blanc */
}

header {
    background-color: #222;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

header nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

h1, h2 {
    color: #fff; /* Titres en blanc */
}

p {
    color: #ccc; /* Texte légèrement grisé pour le contraste */
    line-height: 1.6;
}

ul {
    list-style-type: square;
    margin-left: 20px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #222;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}

a.button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

a.button:hover {
    background-color: #0056b3;
}
